body {
   font-family: 'Montserrat';
}

#title {
  background-color: #ff4c68;
  color: white;

}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: 900;
  color: white;

}
.container-fluid{
  padding: 3% 15%;
}


.navbar-brand{
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 2.5rem;
}
.navbar{
  padding: 0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}
.download-button{
margin:  5% 3% 5% 0;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);

}

#features{
  padding: 7% 15%;

}
h3{
font-family: "Montserrat";
font-weight: 900 ;
}
.feature-box{
  text-align: center;
  padding: 5%;

}
h2{
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 4rem;
  line-height: 1.5;
}
p{
  color: grey;
  font-weight: bold;

}
.icon{
  margin-bottom: 1rem;
  color: #ef8172;
}
.icon:hover{
  color: black;
}
/* testimonials section */

#testimonials{
  background-color: #ef8172;
  color: white;
  text-align: center;
}
.carousel-item{
  padding: 7% 15%;

}

.testimonial-image{
  border-radius: 100%;
  width: 13%;
  margin: 10%;
}

#press{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 0px 20px 50px;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.card{
  padding: 3% 5%;
}
#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}
#footer{
  text-align: center;
  padding: 7% 10%;
}
.social-icons{
  margin: 1%;
}
